body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff0000;
    height: 70px;
    width: 235px;
    outline: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 1px 1px #000;
}

.main-button:hover{
    background-color: #ff3636;
}

.main-button-label{
    color: #fff;
    font-size: 20px;
}

.modal {
    display: none; /* Hidden by default */
    justify-content: center;
    align-items: center;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
.modal-content {
  background-color: #fff;
  border: none;
  border-radius: 32px;
  margin: 40px;
  width: 88%;
}
.modal-content-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 24px 16px 0 0;
}
.modal-content-body {
  padding-left: 40px;
  display: flex;
}

.modal-content-body-half {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.form-title {
    font-size: 35px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 64px;
    padding-left: 16px;
}

.form-images{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#icom{
    width: 360px;
}

.form-wrapper{
    display: flex;
    justify-content: center;
    margin: 32% 0 72px 0;
    height: 100%;
}

.form{
    height: 100%;
    width: 372px;
    display: flex;
    flex-direction: column;
}

.form-item{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-item-label
{
    font-size: 15px;
    color: #000000;
    font-weight: 400;
}

.form-input {
    height: 52px;
    border-radius: 5px;
    background-color: none;
    border: 1px solid #a0a0a0;
    font-size: 20px;
    color: #a0a0a0;
    font-weight: 400;
    padding: 0 20px;
}

.form-images-item {
    padding-left: 16px;
}
  
#popupClose{
    border: none;
    outline: none;
    cursor: pointer;
}

#email{
    margin-bottom: 28px;
}

#phone{
    margin-bottom: 20px;
}

#submit{
    border-radius: 4px;
    box-shadow: 0 8px #36AA60;
    border: none;
    outline: none;
    cursor: pointer;
    height: 71px;
    border-radius: 5px;
    background-color: #3bc36d;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 16px 40px;
    margin-bottom: 12px;
}

#submit:hover{
    background-color: #36db72;
    box-shadow: 0 8px #3bc36d;
}

#submitLabel{
    letter-spacing: 1px;
    color: #fff;
    font-size: 25px;
    color: #ffffff;
    font-weight: 600;
}

#submitIcon{
    height: 44px;
}

#annotation{
    margin-top: 8px;
    display: flex;
    gap: 16px;
    justify-content: center;
    font-size: 12px;
    color: #808080;
    font-weight: 400;
}

@media (max-width: 1024px){
    .modal-content{
        width: 100%;
        border-radius: 16px;
        margin: 0;
    }

    .modal-content-header{
        padding: 12px 8px 0 8px;
    }

    .modal-content-body{
        flex-direction: column;
        padding: 0;
        height: 100%;
        margin-top: -24px;
        pointer-events: none;
    }
    .modal-content-body-half{
        flex-direction: column-reverse;
    }

    .form-images{
        flex-direction: column-reverse;
        align-items: center;
        gap: 0;
    }

    .form-images-item{
        padding: 0;
        margin-top: -28px;
    }

    #file, #icom{
        width: 300px;
    }

    .form-title{
        margin-bottom: 24px;
        text-align: center;
        font-size: 20px;
        padding: 0;
    }
    
    .form-wrapper{
        margin: 0;
        padding: 0 20px 32px 20px;
    }

    .form-item-label{
        font-size: 13px;
    }

    #submit{
        padding: 16px;
        border-radius: 8px;
        pointer-events: auto;
    }

    #submitLabel{
        font-size: 20px;
    }

    #submitIcon{
        height: 36px;
    }

    #annotation{
        display: none;
    }
}